.botaogrande-component{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px var(--cor-menus) solid;
    border-radius: 3vh;
    width: 20vh;
    height: 20vh;
    background-color: var(--cor-menus);
    box-shadow: 1px 1px 5px var(--cor-menus);
    cursor:pointer;
    padding: 1vh;
    padding-top: 2vh;
    transition: box-shadow 0.2s ease;
    transition: transform 0.2s ease;
    user-select: none;
}

.botaogrande-component:hover{
    transition: 0.3 ease;
    transform: translateY(-5px);
    box-shadow: 1px 2px 10px var(--cor-menus);
}

.botaogrande-component-image{
    width: 80%;
    height: 80%;
    border-radius: 2vh;
    background-color: yellow;
}

.botaogrande-component-textspace{
    display: flex;
    padding-top: 0.5vh;
    justify-content: center;
    align-items: center;
    height: 25%;
}

.botaogrande-component-texto {
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limita a 2 linhas */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;

    font-family: var(--fonte-titulo);
    font-weight: 500;
    font-size: 2.3vh;
    font-style: normal;
    color: var(--branco);
    text-align: center;
}


@media (max-width: 768px) {

    .botaogrande-component{
        border-radius: 2vh;
        padding: 1vh;
        width: 8vh;
        height: 8vh;
    }

    .botaogrande-component-texto{
        font-size: 1.3vh;

    }

    .botaogrande-component-image{
        border-radius: 1vh;
    }

}