.container {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100vw;     /* largura total da viewport */
    height: 100vh;    /* altura total da viewport */
}

.background-image{
    position: absolute; /* posiciona a imagem como plano de fundo absoluto */
    display: flex;
    width: 120vh;
    height: 80vh;
    background-size: cover;       /* Faz a imagem cobrir toda a área da div */
    background-position: center;  /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    z-index: 1;  /* fica atrás */
}

/*------------Caixa de conteúdo---------*/

.box{
    display: flex;
    position: relative; /* fica acima da background */
    z-index: 2;
    width: 100%;
    margin-top: 3%;
    align-items: flex-start;
}

.box-infos{
    background-color: var(--branco-transparente);
    border-radius: 2vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 3vh;
    padding-right: 3vh;
    margin-right: 5vh;
    width: 100%;
}

/*-----------Configurações do título----------*/

.title-space{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    animation: flutuar 3s ease-in-out infinite;
}

/*Deixa somente o texto titulo da home centralizado e com espaçamento entre itens*/
.title-space-home{
    display: flex;
    flex-direction: row;
    gap: 2vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    animation: flutuar 3s ease-in-out infinite;
}

.images-title{
    width: 5vh;
    height: 5vh;
    margin-right: 1vh;
}

/*--------Configurações de conteudo----------------*/

.texto-centralizado{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.caixa-de-texto{
    border: 2px  var(--cor-menus)  solid;
    border-radius: 2vh;
    padding: 2vh;
    width: 50%;
    background-color: var(--branco);
    margin-top: 1vh;
    margin-bottom: 1vh;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.193);
}

.caixas-de-botoes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8vh;
}

@keyframes flutuar {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px); /* sobe */
  }
  100% {
    transform: translateY(0); /* volta */
  }
}


@media (max-width: 768px) {

    .container{
        width: 100%;
    }

    .box{
        margin-left: 0vh;
    }

    .box-infos{
        margin-right: 1vh;
        margin-left: 1vh;
        width: 100%;
    }

    .background-image{
        width: 100%;
        height: 50%;
    }

    .images-title{
        width: 3vh;
        height: 3vh;
        margin-right: 1vh;
    }

    .caixas-de-botoes{
        gap: 2vh;
    }

}